<nav class="navbar navbar-expand-lg  navBarCon">
    <div class="container-fluid">
        <a class="navbar-brand"><img class=" " src="../../../assets/imgs/logo.png" alt=""
                style="display: block; height: 50px; mix-blend-mode: color-burn;"></a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/user/main"
                        routerLinkActive="router-link-active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user/main" routerLinkActive="router-link-active">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="router-link-active">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="router-link-active">Register</a>
                </li>
            </ul>
        </div>
        <p></p>
    </div>
</nav>